*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(105,240,95,1) 24%, rgba(181,176,145,0.9727241238292192) 85%);
}

.container {
    padding:10px;
    width:380px;
    margin: 10px auto;
}
.header {
    width: 380px;
    height:200px;
    background-image: url('tło6.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.header i {
    color: ivory;
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 30px;
}
.header i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: scale(1.1);
    transition: 0.2 ease-in-out;
}
.header p{
    color: ivory;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    top: 35%;
    left: 25%;
}
.date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color:ivory;
    font-size: 18px;
}
.content{
    background-color: khaki;
    width:380px;
    height: 400px;
    max-height:400px;
    overflow: auto;
}
.content ul{
    padding:0;
    margin:0;

}
.item{
    width: 360px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin:0;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 21px;
    left:50px;
    top:10px;
    max-width:265px;
    color: forestgreen;
    word-wrap: break-word;
    height: auto;
}
.lineThrough{
    text-decoration: line-through;
}
.item i.icon-circle-empty{
    position: absolute;
    font-size: 22px;
    padding-left:5px;
    left:10px;
    top:10px;
}
.item i.icon-circle-empty:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2 ease-in-out;
}
.icon-ok-circled{
    position: absolute;
    font-size: 22px;
    padding-left:5px;
    left:10px;
    top:10px;
    color:#6eb200;
}
.item i.icon-ok-circled:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2 ease-in-out;
}
.item i.icon-trash{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.icon-trash:hover{
    color:#af0000;
    cursor: pointer;
}
.addItem{
    border-radius: 0 0 15px 15px;
    background-color: khaki;
    width:380px;   
    height: 50px;
    position: relative;
}
.addItem i{
    position: absolute;
    font-size: 40px;
    color: forestgreen;
}
.addItem i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: scale(1.1);
    transition: 0.2 ease-in-out;
}
.addItem input{
    position: absolute;
    left: 50px;
    top: 5px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left:10px;
}
.addItem input::placeholder{
    color: forestgreen;
}
.addItem input:focus {
    background-color:rgb(230, 215, 87);
    color: forestgreen;
 }















